<manifest xmlns:android="http://schemas.android.com/apk/res/android"><uses-permission android:name="android.permission.INTERNET"/><application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:usesCleartextTraffic="true" android:label="验收 Probe"><activity android:name=".ProbeActivity" android:exported="true"/></application></manifest>
